@using ProjectTracker.Repositories.DTO

@model EditWorkDTO

<form action="/TeamLeader/UpdateRecordWork?@Model">
    <label><h3>Edit Work Status</h3></label>

  
    <div class="form-group">
        @Html.LabelFor(x => x.Status)

        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })

        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div>
        @Html.LabelFor(x => x.note)

        @Html.TextBoxFor(x => x.note, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>